spring:
  application:
    name: fraudMonitorApp
server:
  port: 8080
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: >-
      ${SPRING_DATASOURCE_URL:jdbc:h2:mem:frauddb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL}
    username: ${SPRING_DATASOURCE_USERNAME:admin}
    password: ${SPRING_DATASOURCE_PASSWORD:password}
    driver-class-name: ${SPRING_DATASOURCE_DRIVER:org.h2.Driver}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true
  mail:
    host: ${SMTP_HOST:localhost}
    port: ${SMTP_PORT:1025}
    username: ${SMTP_USERNAME:}
    password: ${SMTP_PASSWORD:}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
app:
  mail:
    from: ${MAIL_FROM:no-reply@fraud.local}
twilio:
  accountSid: ${TWILIO_ACCOUNT_SID:}
  authToken: ${TWILIO_AUTH_TOKEN:}
  whatsapp:
    from: ${TWILIO_WHATSAPP_FROM:}
management:
  endpoints:
    web:
      exposure:
        include: health,info
